/* Navbar.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0; /* Stick to the top of the viewport */
  background-color: #333; /* Background color to avoid transparency issues */
  z-index: 1000; /* Ensure the navbar stays on top */
  box-shadow: 0 4px 2px -2px gray; /* Optional: Add shadow for visual effect */
  padding: 10px;
}
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }
  
  .nav-login .login-btn {
    background-color: #c4a55e;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .nav-login .login-btn:hover {
    background-color: #b08e52;
  }

  .logo-image {
    width: 45px;
    height: 32px;
  }
